/**
 * Stylesheet - Common
 *
 * Author By. Karsei
 * http://karsei.pe.kr
 * 
 * This Stylesheet is for dynamic dollar shop web panel.
 *
 */
@charset "utf8";
@import "reset.css";
@import "nprogress.css";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*************************************
 * CLEARFIX
**************************************/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

/* For IE6, 7 */
.clearfix {
    *zoom: 1;
}

/*************************************
 * Default Setting
**************************************/
html {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    -khtml-text-size-adjust: none;
}

body {
    font-family: "Nanum Gothic", "맑은 고딕", "돋음";
    font-size: 1.0em;
}

a,
a:visited,
a:link,
a:active,
a:hover {
    text-decoration: none;
    color: #3BAFDA;
}

.center {
    text-align: center;
}

/*************************************
 * Loading
**************************************/
#gloLoad {
	position: absolute;
	top: 35%;
	left: 0px;
	width: 100%;
	margin: 0px auto;
	text-align: center;
}

/*************************************
 * Response Page
**************************************/
.row {
    margin: 0px auto;
    width: 100%;
    max-width: 950px;
}