/**
 * Stylesheet - Main
 *
 * Author By. Karsei
 * http://karsei.pe.kr
 * 
 * This Stylesheet is for dynamic dollar shop web panel.
 *
 */
@import "common.css";

/*************************************
 * LAYOUT POSITION
**************************************/
header {
    position: relative;
}

header #title,
header #gnb {
    position: absolute;
}
header #title {
    top: 35px;
    left: 40px;
}
header #gnb {
    top: 20px;
    right: 20px;
}

section {
    top: 80px;
}

footer {
    position: relative;
}
footer #lang {
    position: absolute;
}
footer #lang {
    top: 10px;
    right: 10px;
}

/*************************************
 * DEFAULT MAIN SET
**************************************/
a,
a:visited,
a:link,
a:active,
a:hover {
    color: black;
}

.ddscon {
    min-height: 100%;
    background-color: white;
}

/*************************************
 * [header]
**************************************/
header {
    min-height: 100px;
    border-bottom: 1px solid #ededed;
}

/*******************
 * Title
********************/
#title {
    font-size: 1.6em;
    cursor: default;
}

/*******************
 * Navi
********************/
#gnb {
    margin: 0px;
    padding: 0px;
}
#gnb li {
    float: left;
    padding: 20px;
    border-right: 1px solid #ededed;
    cursor: pointer;
}
#gnb li:last-child {
    border: 0px;
}
#gnb li:hover,
#gnb .focus {
    background-color: #ededed;
}

/*************************************
 * [section]
**************************************/
/*******************
 * Sub Navi
********************/
.sub-ad-gnb li {
    float: left;
    margin-top: 15px;
    margin-right: 20px;
    padding: 15px;
    font-weight: bold;
    background-color: #c7e843;
    cursor: pointer;
}
.sub-ad-gnb li:hover,
.sub-ad-gnb .focus {
    background-color: #c7a843;
}

/*******************
 * Article
********************/
article {
    margin: 20px;
    padding: 20px;
    background-color: #ededed;
}
article .title {
    margin-bottom: 13px;
    padding-bottom: 20px;
    border-bottom: 1px solid #919191;
}
article .title h3 {
    display: inline;
    font-size: 1.6em;
    font-weight: bold;
}
article .title i {
    float: left;
    margin-right: 10px;
}

article .detail {
    //
}
article .detail h4 {
    margin-bottom: 5px;
    padding: 10px;
    font-size: 1.4em;
}
article .detail p {
    margin-bottom: 10px;
    line-height: 1.6em;
}

article .detail table {
    margin: 0 auto;
    text-align: center;
    border: 2px solid #5dacfc;
    -moz-border-radius-bottom-left: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottom-right: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-collapse: inherit;
    border-spacing: 0px;
    overflow: hidden;
}
article .detail td {
    padding: 10px;
    cursor: default;
}
article .detail thead td {
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #5dacfc;
    border-bottom: 1px solid #888888;
}
article .detail tbody tr:nth-child(odd) {
    background-color: #EAF1FE;
}
article .detail tbody tr:nth-child(even) {
    background-color: #FFFFFF;
}
article .detail tbody tr:hover {
    background-color: #D4E2FD;
}
article .detail thead td {
    border-right: 1px solid #a0cfff;
}
article .detail tbody td {
    border-right: 1px solid #888888;
}
article .detail td:last-child {
    border-right: 0;
}
article .detail td:first-child {
    text-align: center;
}

/*******************
 * Common things
********************/
.detail-pagination {
    margin: 10px;
}
.detail-pagination table {
    border: 0px !important;
    -moz-border-radius-bottom-left: 0px !important;
    -webkit-border-bottom-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    -moz-border-radius-bottom-right: 0px !important;
    -webkit-border-bottom-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background-color: #FFFFFF !important;
}
.detail-pagination td {
    background-color: #5C5C5C !important;
    color: #DCDCDC !important;
    border: 0px !important;
    cursor: pointer !important;
}
.detail-pagination td:hover {
    color: #F3F3F3 !important;
}
.detail-pagination .focus {
    font-weight: bold !important;
}
.detail-pagination td:hover,
.detail-pagination .focus {
    background-color: #505050 !important;
    color: white !important;
}

/*******************
 * <MYINFO>
********************/
article .myinfo {
    margin: 10px;
    margin-top: 30px;
    padding: 30px;
    background-color: #ECBF41; /*#EDDEC1*/
}

article .myinfo .profileimg {
    float: left;
    width: 184px;
    height: 184px;
    margin-right: 15px;
    border: 2px solid #888888;
}

article .myinfo .name {
    margin-bottom: 15px;
    background-color: #D95656;
    color: white;
    font-size: 1.9em;
    font-weight: bold;
}

article .myinfo li {
    line-height: 1.5em;
}

article .myinfo label {
    margin-right: 10px;
    padding: 4px;
    font-weight: bold;
    background-color: #777777;
    color: #FFFFFF;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    line-height: 2.0em;
}

article .buy .buy-mymoney {
    padding-left: 10px;
    border-left: 5px solid #777777;
}
article .buy label {
    font-weight: 600;
}

.myinfo-list thead td:nth-child(1) {
    width: 50px;
}
.myinfo-list thead td:nth-child(2) {
    width: 120px;
}
.myinfo-list thead td:nth-child(3) {
    width: 120px;
}
.myinfo-list thead td:nth-child(4) {
    width: 170px;
}
.myinfo-list thead td:nth-child(5) {
    width: 70px;
}
.myinfo-list thead td:nth-child(6) {
    width: 100px;
}
.myinfo-list td span {
    margin-right: 10px;
}
.myinfo-list td span:last-child {
    margin-right: 0px;
}

.buy-list thead td:nth-child(1) {
    width: 85px;
}
.buy-list thead td:nth-child(2) {
    width: 120px;
}
.buy-list thead td:nth-child(3) {
    width: 120px;
}
.buy-list thead td:nth-child(4) {
    width: 100px;
}
.buy-list thead td:nth-child(5) {
    width: 80px;
}
.buy-list thead td:nth-child(6) {
    width: 100px;
}

.admin-list thead td:nth-child(1) {
    width: 75px;
}
.admin-list thead td:nth-child(2) {
    width: 180px;
}
.admin-list thead td:nth-child(3) {
    width: 100px;
}
.admin-list thead td:nth-child(4) {
    width: 90px;
}
.admin-list thead td:nth-child(5) {
    width: 90px;
}

/*******************
 * <Item Buy>
********************/
.buy {
    // 
}


/*************************************
 * [footer]
**************************************/
footer {
    padding: 10px;
    border-top: 1px solid #ededed;
}
footer #lang span {
    margin-right: 20px;
}
footer #lang span:last-child {
    margin-right: 0px;
}