/**
 * Stylesheet - Main
 *
 * Author By. Karsei
 * http://karsei.pe.kr
 * 
 * This Stylesheet is for dynamic dollar shop web panel.
 *
 */
@import "common.css";

/*************************************
 * LAYOUT POSITION
**************************************/
.header > .container {
    position: relative;
}

.header > .container > .page-title,
.header > .container > .nav-menu {
    position: absolute;
}
.header > .container > .page-title {
    top: 35px;
    left: 40px;
}
.header > .container > .nav-menu {
    top: 20px;
    right: 20px;
}

section {
    top: 80px;
}

footer {
    position: relative;
}
footer > .lang {
    position: absolute;
}
footer > .lang {
    top: 10px;
    right: 10px;
}

/*************************************
 * [header]
**************************************/
.header > .page-title {
    float: left;
}

/*************************************
 * [section]
**************************************/


/*******************
 * Article
********************/
article table {
    margin: 0 auto;
    text-align: center;
    border: 2px solid #5dacfc;
    -moz-border-radius-bottom-left: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottom-right: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-collapse: inherit;
    border-spacing: 0px;
    overflow: hidden;
}
article td {
    padding: 10px;
    cursor: default;
}
article thead td {
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #5dacfc;
    border-bottom: 1px solid #888888;
}
article tbody tr:nth-child(odd) {
    background-color: #EAF1FE;
}
article tbody tr:nth-child(even) {
    background-color: #FFFFFF;
}
article tbody tr:hover {
    background-color: #D4E2FD;
}
article thead td {
    border-right: 1px solid #a0cfff;
}
article tbody td {
    border-right: 1px solid #888888;
}
article td:last-child {
    border-right: 0;
}
article td:first-child {
    text-align: center;
}

/*******************
 * Common things
********************/
.detail-pagination {
    margin: 10px;
}
.detail-pagination table {
    border: 0px !important;
    -moz-border-radius-bottom-left: 0px !important;
    -webkit-border-bottom-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    -moz-border-radius-bottom-right: 0px !important;
    -webkit-border-bottom-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background-color: #FFFFFF !important;
}
.detail-pagination td {
    background-color: #5C5C5C !important;
    color: #DCDCDC !important;
    border: 0px !important;
    cursor: pointer !important;
}
.detail-pagination td:hover {
    color: #F3F3F3 !important;
}
.detail-pagination .focus {
    font-weight: bold !important;
}
.detail-pagination td:hover,
.detail-pagination .focus {
    background-color: #505050 !important;
    color: white !important;
}

/*******************
 * <MYINFO>
********************/
.myinfo {
    margin: 10px;
    margin-top: 30px;
    padding: 30px;
    background-color: #ECBF41; /*#EDDEC1*/
}

.myinfo .profileimg {
    float: left;
    width: 184px;
    height: 184px;
    margin-right: 15px;
    border: 2px solid #888888;
}

.myinfo .name {
    margin-bottom: 15px;
    background-color: #D95656;
    color: white;
    font-size: 1.9em;
    font-weight: bold;
}

.myinfo li {
    line-height: 1.5em;
}

.myinfo label {
    margin-right: 10px;
    padding: 4px;
    font-weight: bold;
    background-color: #777777;
    color: #FFFFFF;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    line-height: 2.0em;
}

#buy-list > .buy-mymoney {
    padding-left: 10px;
    border-left: 5px solid #777777;
}
#buy-list > label {
    font-weight: 600;
}

#user-invenlist td span {
    margin-right: 10px;
}
#user-invenlist td span:last-child {
    margin-right: 0px;
}

#user-invenlist thead td:nth-child(1) {
    width: 50px;
}
#user-invenlist thead td:nth-child(2) {
    width: 120px;
}
#user-invenlist thead td:nth-child(3) {
    width: 120px;
}
#user-invenlist thead td:nth-child(4) {
    width: 170px;
}
#user-invenlist thead td:nth-child(5) {
    width: 70px;
}
#user-invenlist thead td:nth-child(6) {
    width: 100px;
}

#user-buylist thead td:nth-child(1) {
    width: 85px;
}
#user-buylist thead td:nth-child(2) {
    width: 120px;
}
#user-buylist thead td:nth-child(3) {
    width: 120px;
}
#user-buylist thead td:nth-child(4) {
    width: 100px;
}
#user-buylist thead td:nth-child(5) {
    width: 120px;
}
#user-buylist thead td:nth-child(6) {
    width: 80px;
}

#admin-userlist thead td:nth-child(1) {
    width: 75px;
}
#admin-userlist thead td:nth-child(2) {
    width: 180px;
}
#admin-userlist thead td:nth-child(3) {
    width: 100px;
}
#admin-userlist thead td:nth-child(4) {
    width: 90px;
}
#admin-userlist thead td:nth-child(5) {
    width: 90px;
}

#admin-itemlist thead td:nth-child(1) {
    width: 85px;
}
#admin-itemlist thead td:nth-child(2) {
    width: 120px;
}
#admin-itemlist thead td:nth-child(3) {
    width: 120px;
}
#admin-itemlist thead td:nth-child(4) {
    width: 100px;
}
#admin-itemlist thead td:nth-child(5) {
    width: 120px;
}
#admin-itemlist thead td:nth-child(6) {
    width: 120px;
}
#admin-itemlist thead td:nth-child(7) {
    width: 100px;
}
#admin-itemlist thead td:nth-child(8) {
    width: 100px;
}

#admin-itemcglist thead td:nth-child(1) {
    width: 120px;
}
#admin-itemcglist thead td:nth-child(2) {
    width: 120px;
}
#admin-itemcglist thead td:nth-child(3) {
    width: 80px;
}
#admin-itemcglist thead td:nth-child(4) {
    width: 120px;
}
#admin-itemcglist thead td:nth-child(5) {
    width: 100px;
}
#admin-itemcglist thead td:nth-child(6) {
    width: 100px;
}

/*******************
 * <Item Buy>
********************/
.buy {
    /**/
}


/*************************************
 * [footer]
**************************************/
footer {
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
    border-top: 1px solid #ededed;
}
footer > .lang > span {
    margin-right: 20px;
}
footer > .lang > .span:last-child {
    margin-right: 0px;
}